<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Formulário Driven
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <form #meuForm="ngForm">
        <ion-list>
            <ion-item>
                <ion-label stacked>Nome paciente</ion-label>
                <ion-input type="text" [(ngModel)]="model.nomepaciente" name="nomepaciente" #nomepaciente="ngModel" required minlength="4"></ion-input>
            </ion-item>
            <ion-item *ngIf="nomepaciente.invalid && (nomepaciente.dirty || nomepaciente.touched)" color="danger">
                <div *ngIf="nomepaciente?.errors.required">
                    Nome do Paciente é Obrigatório.
                </div>


                <div *ngIf="nomepaciente?.errors.minlength">
                    Nome do Paciente precisa ter no mínimo 4 caracteres.
                </div>

            </ion-item>

            <ion-item>
                <ion-label>Sexo Paciente</ion-label>
                <ion-select [(ngModel)]="model.sexo" name="sexo" #sexo="ngModel" required>
                    <ion-select-option value="">Selecione</ion-select-option>
                    <ion-select-option value="1">Masculino</ion-select-option>
                    <ion-select-option value="2">Feminino</ion-select-option>

                </ion-select>
            </ion-item>
            <ion-item *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)" color="danger">
                <div *ngIf="sexo?.errors.required">
                    Sexo é Obrigatório.
                </div>


            </ion-item>
            <ion-item>
                <ion-label stacked>Endereço</ion-label>
                <ion-input type="text" [(ngModel)]="model.endereco" name="endereco" #endereco="ngModel" required></ion-input>
            </ion-item>

            <ion-item *ngIf="endereco.invalid && (endereco.dirty || endereco.touched)" color="danger">
                <div *ngIf="endereco?.errors.required">
                    Endereço é Obrigatório.
                </div>
            </ion-item>




        </ion-list>

        <ion-button [disabled]="!meuForm.form.valid" (click)="salvar()">Salvar</ion-button>
    </form>
</ion-content>